<!DOCTYPE HTML>
<html lang="en-us">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<link rel="stylesheet" type="text/css" href="css/styles.css">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
		<link rel="shortcut icon" type="image/png" href="favicon.ico" />
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/main.js"></script>
		<title>{{title}}</title>
	</head>
	<body>
		<nav class="header">
				<div class="header-container">
					<span class="brand"><a href="/">Sushi-Sushi</a></span>
					<ul class="navlist">
						<li class="header-item">
							<a href="/">Главная</a>
						</li>
						<li class="header-item">
							<a href="/price">Меню</a>
						</li>
						<li class="header-item">
							<a href="/jobs">Вакансии</a>
						</li>
						<li class="header-item">
							<a href="/about">О нас</a>
						</li>
						<li class="header-item">
							<a href="/reviews">Отзывы</a>
						</li>
						<li class="header-item">
							<a href="/price-list">Прайс-лист</a>
						</li>
						<li class="header-item">
							<a href="/auth">Авторизация</a>
						</li>
						<li class="header-item">
							<a href="/reg">Регистрация</a>
						</li>
					</ul>
			</div>
		</nav>
		<main class="content">
			{{{ body }}}
		</main>
		<footer class="footer">Суши-бар Sushi-Sushi</footer>
	</body>
</html>