<section class="hero">
    <div class="about header-hero">
        <div class="hero-wrap">
            <h1>{{ title }}</h1>
            <a class="arrow-down down-a" href="#">
                <i class="material-icons">
                expand_more
                </i>
            </a>
        </div>
    </div>
    <section>
        <p class="about-p ">Для нас ты - не просто клиент, а друг, которого мы стараемся никогда не подвести. А если и косячим, то пытаемся исправить ситуацию всеми силами и больше не допускать оплошностей. Если ты любишь вкусные роллы, бенто-ланчи, воки и ценишь искренность и качество - тебе однозначно к нам! Давай знакомиться! Всегда твой, суши-бар "Суши-Суши"</p>
        <article class="article-about">
            <h1>Команда</h1>
            <img class="hero-avatar" src="img/owner.png" alt="owner" />
            <span class="owner">Maria Smolyak</span>
            <span class="owner">Директор</span>
        </article>
    </section>
</section>