<div class="container">
    <div class="main">
        <div>
            <h1 class="title-main">Оригинальная японская еда</h1>
            <a href="/price" class="link-menu "> <span class="arrow"> > </span> Посмотреть меню</a>
        </div>
        <div class="hero">
            <img src="/img/hero.jpeg" alt="hero"/>
        </div>
    </div>
</div>